<div onclick="showIndexPage()">
    <!-- Wallpaper Page -->
    <div id="wallpaper-page">
        <div class="row wallpaper">
            <div class="col">
                <!-- Image Wallpaper -->
            </div>
        </div>
        <div class="row footer align-items-center">
            <div class="col text-center">
                <h1>Click To Continue</h1>
            </div>
        </div>
    </div>

    <!-- Main Page -->
    <div id="main-page" style="display:none;">
        <div class="row content">
            <div class="col text-center">
                <br>
                <% sheetNames.forEach((sheetName, index) => { %>
                    <% if (index % 2 === 0) { %>
                        <div class="row">
                    <% } %>

                    <div class="col-md-6 mb-3 text-center">
                        <button id="btn-<%= sheetName %>" 
                            onclick="handleButtonClick('<%= sheetName %>')" 
                            class="panel w-100">
                            <img src="<%= insuranceImgMap[sheetName.replace(/\s/g,'')] || '/assets/img/crown.png' %>" class="panel-img img-padding w-100" />
                            <h5 class="panel-title"><%= sheetName %></h5>
                        </button>
                    </div>

                    <% if ((index + 1) % 2 === 0 || index === sheetNames.length - 1) { %>
                        </div>
                    <% } %>
                <% }) %>
            </div>
            <div class="col text-center align-items-center">
                <br>
                <div id="numberPad">
                    <div id="display"></div>
                    <div id="numberSpace">
                        <div class="numBtn">1</div>
                        <div class="numBtn">2</div>
                        <div class="numBtn">3</div>
                        <div class="numBtn">4</div>
                        <div class="numBtn">5</div>
                        <div class="numBtn">6</div>
                        <div class="numBtn">7</div>
                        <div class="numBtn">8</div>
                        <div class="numBtn">9</div>
                        <div id="clearBtn">Clear</div>
                        <div class="numBtn">0</div>
                        <div id="backBtn">Back</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer align-items-center">
            <div class="col text-center">
                <button id="nextButton" class="actionButton disabled">Next Page</button>
            </div>
        </div>
    </div>
</div>
