* {
      margin: 0;
      padding: 0;
      overscroll-behavior: none;
}

.header, .footer {
      height: 7.5vh;
      background-color: rgb(105, 20, 35, 0.9);
      color: white;
}

.footer {
      text-align: center;
      position: fixed;
      width: 100%;
      z-index: 1001;
      left: 0px;
      bottom: 0px;
      margin-left: 0px !important;
}

/* Wallpaper */
.wallpaper {
      height: 85vh; 
      background: url('../img/ASCC.jpg') no-repeat center center;
      background-size: cover;
}

/* Main */
.content {
    margin-bottom: 7vh;
}

button.selected, button.selectedLunch, button.selectedBreakfast {
      border: 4px solid blue;
}

.panel {
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      text-align: center;
      box-sizing: border-box; 
  }
  
.panel-img {
      width: 100%;
      height: 120px;
      object-fit: fill;
      -webkit-user-drag: none;
      border: 1px solid #333;
}

.img-padding {
      padding: 5px;
}
  
.panel-title {
      width: 100%;
      flex-grow: 1;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center; 
      justify-content: center; 
}

button:focus, .panel:focus, .btn:focus {
      outline: none;
}
  
#numberPad {
      width: 100%;
      height: 300px;
      position: relative;
}

#numberPad div:hover {
      cursor: pointer;
}

#display {
      height: 100%;
      width: 100%;
      color: rgb(0, 186, 253);
      background-color: rgb(29, 33,46);
      font-size: 10vw;
      overflow: hidden;
      text-align: center;
      font-family: "Clock Alarm";
}

#numberSpace {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #333;

}

.btn, #clearBtn, #backBtn {
      height: 25%;
      width: 33.33333%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;
}

.btn:hover {
      text-shadow: 0 0 5px rgb(238, 238, 238);
}

#clearBtn, #backBtn {
      background-color: rgb(253, 53, 53);
}
  
.actionButton {
      height: 25%;
      width: 33.33333%;
      background-color: white;
      border: none;
      color: black;
      font-size: 32px;
      cursor: pointer;
}
  
.actionButton:hover {
      background-color: #ffddc1;
}

#nextButton.disabled, #submitButton.disabled {
      opacity: 0.5;
      pointer-events: none;
}
  
#nextButton, #submitButton {
      opacity: 1;
      pointer-events: auto;
}