body {
      margin: 0;
      padding: 0;
}

/* Main */
#main-page {
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
  }

.welcome-bar, .continue-bar {
      height: 10vh;
      background-color: rgb(105, 45, 55);
      color: white;
  }

.wallpaper {
      height: 80vh; 
      background: url('../img/ASCC.jpg') no-repeat center center;
      background-size: cover;
}

/* Index */
#index-page {
      display: none;
  }

ul {
      list-style-type: none;
      padding: 0;
}
  
li {
      margin-bottom: 10px;
}

button.selected, button.selectedLunch, button.selectedBreakfast {
      border: 3px solid blue;
}

.panel {
      display: flex;   
      align-items: center;
      background-color: #f0f0f0;
      border: 1px solid #050404;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      width: 100%;
      height: 100px;
      overflow: hidden;
      transition: background-color 0.3s;
      white-space: nowrap;
}
  
.panel:hover {
      background-color: #e0e0e0;
}
  
.panel-image {
      width: 25%;
      height: auto;
      margin-right: 10px;
}
  
.panel-text {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}
  
#numberPad {
      width: 100%;
      height: 300px;
      position: relative;
      box-shadow: -5px 7px 14px 0px;
}

#numberPad div:hover {
      cursor: pointer;
}

#display {
      height: 100%;
      width: 100%;
      color: rgb(0, 186, 253);
      background-color: rgb(29, 33,46);
      font-size: 10vw;
      overflow: hidden;
      text-align: center;
      font-family: "Clock Alarm";
}

#numberSpace {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #333;

}

.btn, #clearBtn, #backBtn {
      height: 25%;
      width: 33.33333%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;
}

.btn:hover {
      text-shadow: 0 0 5px rgb(238, 238, 238);
}

#clearBtn, #backBtn {
      background-color: rgb(253, 53, 53);
}

.footer-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px 0;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
      z-index: 999;
}
  
#nextButton, #selectButton {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
}
  
#nextButton:hover, #selectButton:hover {
      background-color: #0056b3; 
}

.footer-bar #nextButton.disabled {
      opacity: 0.5;
      pointer-events: none;
}
  
.footer-bar #nextButton {
      opacity: 1;
      pointer-events: auto;
}

.footer-bar #submitButton.disabled {
      opacity: 0.5;
      pointer-events: none;
}
  
.footer-bar #submitButton {
      opacity: 1;
      pointer-events: auto;
}